@import './variables';
@import '../components/header/header';
@import '../components/home/home';
@import '../components/categories/categories';
@import '../components/items-list/items-list';
@import '../components/item/item';
@import '../components/item-detail/item-detail';
@import '../components/empty-state/empty-state';


body {
    margin: 0;
    background-color: $backgrond-color;
    min-width: 800px;
    min-height: 600px;
}

* {
    font-family: "Proxima Nova";
}