.product-container {
    display: flex;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.chakra-stack .css-1wj2hd1 {
    border-bottom: none;
}